{% extends "base.html" %}

{% block content %}

<div class="container">
  <h2>Card Image</h2>
  <p>Image at the top (card-img-top):</p>
  <div class="card" style="width:400px">
    <img src="{{ url_for('static', filename='twitter.jpg') }}"  alt="Card Image"  style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">{{username}}</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Change image</a>
    </div>
  </div>
  <br>

    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="box__input">
                <input class="box__file" type="file" name="uploadingfiles" id="file" data-multiple-caption="{count} files selected" multiple />
                <!--<button class="box__button" type="submit">Upload</button>-->
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Add</button>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}