
{% extends "base.html" %}


{% block content %}

<div class="container mt-3">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add news
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add News</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->


          <form class="box" method="post" action="" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="form-group">
               <label for="comment">Comment:</label>
               <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                <!--<input type="text" id="comment" name="comment"/>-->
             </div>

              <div class="box__input">
                <input class="box__file" type="file" name="uploadingfiles" id="file" data-multiple-caption="{count} files selected" multiple />
                <!--<button class="box__button" type="submit">Upload</button>-->
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Add</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>

</div>


{% for item in news | reverse %}
    <div class="container mt-3">

  <div class="media border p-3">
    <img src="{{ url_for('static', filename="twitter1.jpg") }}" alt={{item[3]}} class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">

      <h4>{{item[3]}} <small><i>{{item[1]}}</i></small></h4>
      <p id="content" name="content">{{item[2]}}</p>

    </div>
      <div id="like" name="like">
        <span class="likebtn-wrapper" data-theme="disk" data-ef_voting="push" data-white_label="true" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-popup_disabled="true"></span>
        <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
      </div>
  </div>
</div>
{% endfor %}
{% endblock %}

